*{
	margin: 0;
	padding: 0;
}

button{
	position:absolute;
	left: 50%;
}

.container {
	width: 100%;
	background-color: black;
	height:100px;
}

.arena {
	display: inline;
}

#Character1 {
	background-color: yellow;
	height:30px;
	width: 30px;
	position: absolute;
	left: 1%;
	top: 70px;
}

#Character2 {
	background-color: red;
	height:30px;
	width: 30px;
	position: absolute;
	right: 1%;
	top: 70px;
}